<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>氚云.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
				<key>dateExpires</key>
				<string>2023/2/9</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftProtobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>barcode_scan.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>contacts_service.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_aliyun_captcha.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_app_badger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_channel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_custom_dialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>open_file.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>store_redirect.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>98C2A7AA41C06F34067C165A859DA0801F230481</string>
						<key>dateExpires</key>
						<string>2023/2/9</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RJJ2C6FMGA</string>
						<key>name</key>
						<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RJJ2C6FMGA.com.h3yun.webapp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:deventry.h3yun.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>RJJ2C6FMGA</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ec48e16a-e444-41fc-afb4-119bbe5e650e</string>
				<key>name</key>
				<string>h3yunwebappadhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RJJ2C6FMGA</string>
				<key>name</key>
				<string>SHENZHEN AUTHINENET TECH Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
